.section-center {
    margin: 0 auto;
    display: grid;
    gap: 3rem 2rem;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
}

.menu-item {
    display: grid;
    gap: 1rem 2rem;
    max-width: 25rem;
    background-color: white;
    cursor: pointer;
    border-radius: 5mm;
}

.photo {
    height: 200px;
    width: 100%;
    display: block;
}

.item-text {
    margin-bottom: 0;
    padding-top: 1rem;
    text-align: center;
}