
body::-webkit-scrollbar {
    display: none;
}

.mt-title {
    color: white;
    text-align: center;
    font-size: xx-large;
}

.mytrade-info {
    margin-left: 110mm;
}

.ownuserinfo {
    float: left;
    margin-left: 10mm;
    margin-bottom: 2.5mm;
    cursor: pointer;
}

.tradearrow {
    float: left;
    margin-top: 20mm;
    margin-left: 15mm;
    margin-right: 15mm;
}

.otheruserinfo {
    float: left;
    margin-right: 10mm;
    cursor: pointer;
}

.button {
    margin-top: 15mm;
    margin-left: 15mm;  
}

.trade {
    background-color: white;
    text-align: left;
    margin-bottom: 10mm;
    float: left;
    margin-right: 80mm;
    border-radius: 50px;
}

.offer {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    padding: 10px 24px;
    margin-left: 15mm;
    margin-top: 5mm;
}
.offer:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

.counter {
    background-color: white;
    color: black;
    border: 2px solid #3A78D4;
    text-align: center;
    text-decoration: none;
    float: left;
    font-size: 16px;
    transition-duration: 0.4s;
    padding: 10px 24px;
    margin-bottom: 5mm;
    margin-top: 5mm;
    margin-left: 8mm;
    margin-right: 8mm;
}

.counter:hover {
    background-color: #3A78D4;
    color: white;
}

.check-btn {
    float: left;
    margin-left: -10mm;
    margin-top: 5mm;
    cursor: pointer;
}

.x-btn {
    float: left;
    margin-top: 5mm;
    cursor: pointer;
}